<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href='{% static "app.css" %}'>
    </head>

    <body>
        <div id="app" class="w3-container">
            {% verbatim %}
            <div id="popup-content">
                <textarea style="width: 100%; height: 5em" v-model="scrapeInput" placeholder="Add text to scrape here"></textarea>
                <div class="button scrape">Scrape</div>
                <div id="keywords-title" class="sub-title hidden">Keywords:</div>
                <ul v-if="showKeywords">
                    <li v-for="kw in keywords">
                        {{ kw }}
                    </li>
                </ul>
                <div class="button search">Search</div>
                <div id="datasets-title" class="sub-title hidden">Results:</div>
                <ul v-if="showSearchResults">
                    <li v-for="res in searchResults">
                        <div><strong>Title: </strong>{{ res.title }}</div>
                        <div><strong>Abstract: </strong>{{ res.abstract }}</div>
                        <template v-for="link in res.links">
                            <div><strong>URL: </strong>{{ link }}</div>
                        </template>
                        <hr />
                    </li>
                </ul>
                <div id="error-content" class="hidden">
                    <p>Can't execute content script on this page. Check extension configuration.</p>
                </div>
            {% endverbatim %}
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
        <script src='{% static "app.js" %}'></script>
    </body>

</html>

